/* erice.css */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-sm {
  font-size: 0.875rem; /* Smaller size for button */
}


.chat-bubble11 {
  border: 1px solid rgb(173, 126, 248) !important;
  display: inline-block; /* Adjust width based on content */
  max-width: 100%; /* Prevent the bubble from being too wide */
  word-wrap: break-word; /* Ensure long words break appropriately */
}

.bg-black {
  background-color: black;
}


.answe{
  margin-left: 4rem !important;
}
.bg-opacity-75 {
  background-color: rgba(0, 0, 0, 0.75);
}

.rounded-full {
  border-radius: 9999px; /* Full circle for button */
}

.hover\:bg-gray-700:hover {
  background-color: #4a4a4a; /* Darker gray for hover effect */
}

.chat-bubble11 {
  border: 1px solid rgb(173, 126, 248) !important;
  display: inline-block; /* Adjust width based on content */
  max-width: 100%; /* Prevent the bubble from being too wide */
  word-wrap: break-word; /* Ensure long words break appropriately */
}

/* Add spacing between question and answer bubbles */
.question {
  margin-top: 1rem;
  grid-column: span 4;
  margin-bottom: 1rem; /* Adjust the spacing as needed */
}

.answer {
  grid-column: span 4;
   margin-left: 8rem;
}



/* Media Queries */

/* Tablets (>= 640px and < 1024px) */
@media (min-width: 640px) and (max-width: 1023px) {
  .left-panel {
    display: block;
    width: 20%; /* Adjust width for tablet screens */
  }

  .right-panel {
    display: block;
    width: 30%; /* Adjust width for tablet screens */
  }

  .chat-container {
    overflow-y: auto;
  }

  .download-section {
    font-size: 1.25rem;
  }
}

/* Desktops (>= 1024px) */
@media (min-width: 1024px) {
  .left-panel {
    display: block;
    width: 16.6667%; /* 1/6 of the container */
  }

  .right-panel {
    display: block;
    width: 25%; /* 1/4 of the container */
  }

  .download-section {
    font-size: 1.5rem;
  }
}

/* Mobile Devices (<= 639px) */
@media (max-width: 639px) {
  .left-panel {
    display: none;
  }

  .right-panel {
    display: none;
  }

  .modal {
    display: flex;
  }

  .modal img {
    max-width: 100%;
    max-height: 100%;
  }

  main {
    flex-direction: column;
  }
}